extends base

mixin landItem(land)
    .property-block
        .inner-box.clearfix
            .image-box
                figure.image
                    img(src=`/img/land/home/${land.Image}` alt='')
            .content-box
                h3= land.LandName
                .location
                    i.la.la-map-marker
                    |  #{land.Location}
                ul.property-info.clearfix
                    li
                        i.flaticon-dimension
                        |  #{land.Size} Sq-Ft
                    li
                        i.la.la-road
                        |  #{land.ZoningReg}
                    li
                        i.la.la-map
                        |  #{land.Topography}
                    
                .price &#x20A6; #{land.Price.toLocaleString()}
            .option-box
                - date = new Date(land.DateCreated)
                - formatted = date.toLocaleDateString().replaceAll("/",".")
                .expire-date= formatted
                ul.action-list
                    - if(land.hasCofo)
                        li
                            a#print-cofo(href="javascript:void(0)" data-cofo-id=land.cofoId)
                                i.la.la-edit
                                |  Print Your CofO
                    
                    - else
                        li(data-land-id=land.Id)
                            a(href=`/apply-cofo/${land.Slug}`)
                                i.la.la-edit
                                |  Apply for CofO

block content
    .dashboard
        .container-fluid
            .content-area
                .dashboard-content
                    .dashboard-header.clearfix
                        .row
                            .col-md-6.col-sm-12
                                h4 My Properties
                            .col-md-6.col-sm-12
                                .breadcrumb-nav
                                    ul
                                        li
                                            a(href='/') Index

                                        li.active Properties
                    .row
                        .column.col-lg-12
                            .properties-box
                                .title
                                    h3 My Properties List
                                .inner-container
                                    // Property Block
                                    - if(myLands.length == 0)
                                        h2.title You have been allocate no lands
                                    each land of myLands
                                        +landItem(land)
                                    
                p.copyright-text
                    | © 2018 
                    a(href='#') Expert Themes
                    |  All right reserved.
