extends base

block content
    .dashboard
        .container-fluid
            .content-area
                .dashboard-content
                    .dashboard-header.clearfix
                        .row
                            .col-md-6.col-sm-12
                                h4 Profile
                            .col-md-6.col-sm-12
                                .breadcrumb-nav
                                    ul
                                        li
                                            a(href='/') Index
                                        - if(user.Role == "admin")
                                            li
                                                a(href='/dashboard') Dashboard
                                        li.active Profile
                    .row
                        .column.col-lg-12
                            .properties-box
                                .inner-container
                                    .title
                                        h3 Profile Details
                                        input#LastChanged(type="hidden", name="LastChanged", value=user.LastChanged)
                                    .profile-form
                                        .row
                                            .col-lg-4.col-md-12.col-sm-12
                                                // Edit profile photo
                                                .edit-profile-photo
                                                    img(src='/img/resource/avatar.jpg' alt='profile-photo')
                                                    .change-photo-btn
                                                        .photoUpload
                                                            span
                                                                i.la.la-cloud-upload
                                                            input.upload(type='file')
                                            .col-lg-8.col-md-12.col-sm-12
                                                form
                                                    .row
                                                        // Form Group
                                                        .form-group.col-lg-6.col-md-6.col-sm-12
                                                            label Your First Name
                                                            input#firstName(type='text' name='name' placeholder='First Name' value=user.FirstName required='')
                                                        // Form Group
                                                        .form-group.col-lg-6.col-md-6.col-sm-12
                                                            label Your Middle Name
                                                            input#middleName(type='text' name='name' placeholder='Middle Name' value=user.MiddleName required='')
                                                        // Form Group
                                                        .form-group.col-lg-6.col-md-6.col-sm-12
                                                            label Your Last Name
                                                            input#lastName(type='text' name='name' placeholder='Last Name' value=user.LastName required='')
                                                        
                                                        // Form Group
                                                        .form-group.col-lg-6.col-md-6.col-sm-12
                                                            label Phone #
                                                            input#phone(type='text' name='phone' placeholder='Phone' value=user.Phone required='')
                                                        // Form Group
                                                        .form-group.col-lg-6.col-md-6.col-sm-12
                                                            label Your Email
                                                            input#email(type='email' name='email' placeholder='Your Email' disabled value=user.Email required='')
                                                        // Form Group
                                                        .form-group.text-right.col-lg-12.col-md-12.col-sm-12
                                                            button.theme-btn.btn-style-one#update-profile Update Profile
                        .column.col-lg-6.col-md-12
                            .properties-box
                                .inner-container
                                    .title
                                        h3 Change Password
                                    .profile-form
                                        form
                                            .row
                                                // Form Group
                                                .form-group.col-lg-12
                                                    label Current Password
                                                    input#currentPassword(type='password' name='name' placeholder='Current Password' required='')
                                                // Form Group
                                                .form-group.col-lg-12
                                                    label New Password
                                                    input#newPassword(type='password' name='title' placeholder='New Password' required='')
                                                // Form Group
                                                .form-group.col-lg-12
                                                    label Confirm New Password
                                                    input#confirmPassword(type='password' name='phone' placeholder='Confirm New Password' required='')
                                                // Form Group
                                                .form-group.col-lg-12
                                                    button.theme-btn.btn-style-one#update-password Update Password
                        
                p.copyright-text
                    | © 2018 
                    a(href='#') Expert Themes
                    |  All right reserved.
