extend base

mixin landCard(land)
    .col-lg-4.col-md-6
        .card
            a(href=`/land/${land.Slug}` title='')
                .img-block
                    .overlay
                    img.img-fluid(src=`/img/land/home/${land.image}` alt='')
                    .rate-info
                        h5 &#x20A6;#{land.Price.toLocaleString()}
                        span= land.Allocated ? "Unvavailable":"Available"
            .card-body
                a(href=`/land/${land.Slug}` title='')
                    h3 #{land.LandName}
                    p
                        i.la.la-map-marker
                        | #{land.Location}
                ul
                    li Area #{land.Size} Sq Ft
            .card-footer
                a.pull-left(href='#')
                    i.la.la-heart-o
                a.pull-right(href='#')
                    - sqlDate = new Date(land.DateCreated)
                    - currentDate = new Date()
                    - currentDate.setHours(0,0,0,0)
                    - sqlDate.setHours(0,0,0,0)
                    - timeDiff = currentDate.getTime() - sqlDate.getTime()
                    - daysAgo = Math.floor(timeDiff/(24 * 60 * 60 * 1000))
                    i.la.la-calendar-check-o
                    |  #{daysAgo} Days Ago
            a.ext-link(href=`/land/${land.Slug}` title='')

block content
    section.banner
        .container
            .row
                .col-lg-12
                    .banner-content
                        h1 Trusted land experts by your side
    
    //-                 h6 Garages
    section.popular-listing.section-padding
        .container.pt-5
            .row.justify-content-center
                .col-xl-6
                    .section-heading
                        span Discover
                        h3 Popular Listing
            .row
                each land in lands
                    +landCard(land)
                - if(lands.length == 0)
                    h3 No Land available for display
                
        .alert.alert-success(role='alert')
            strong Added to Favourites
            |  You can check your favourite items here 
            a.alert-link(href='#') Favourite Items
            | .
            a.close-alert(href='#' title='')
                i.la.la-close
    

    
    a(href='#' title='')
        section.cta.section-padding
            .container
                .row
                    .col-xl-12
                        .cta-text
                            h2 Discover a land you&apos;ll love to build on
    //- section.bottom.section-padding
    //-     .container
    //-         .row
    //-             .col-xl-4.col-sm-6.col-md-4
    //-                 .bottom-logo
    //-                     img.img-fluid(src='/img/logo.png' alt='')
    //-             .col-xl-3.col-sm-6.col-md-3
    //-                 .bottom-list
    //-                     h3 Helpful Links
    //-                     ul
    //-                         li
    //-                             a(href='18_Half_Map.html' title='') Half Map
    //-                         li
    //-                             a(href='#' title='') Register
    //-                         li
    //-                             a(href='#' title='') Pricing
    //-                         li
    //-                             a(href='#' title='') Add Listing
    //-                 // bottom-list end
    //-             .col-xl-5.col-sm-12.col-md-5.pl-0
    //-                 .bottom-desc
    //-                     h3 Aditional Information
    //-                     p
    //-                         | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
