extend base

mixin landCard(land)
    .col-lg-4.col-md-6
        .card
            a(href=`/land/${land.Slug}` title='')
                .img-block
                    .overlay
                    img.img-fluid(src=`/img/listing/${land.image}` alt='')
                    .rate-info
                        h5 &#x20A6;#{land.Price.toLocaleString()}
                        span= land.Allocated ? "Unvavailable":"Available"
            .card-body
                a(href=`/land/${land.Slug}` title='')
                    h3 #{land.LandName}
                    p
                        i.la.la-map-marker
                        | #{land.Location}
                ul
                    li Area #{land.Size} Sq Ft
            .card-footer
                a.pull-left(href='#')
                    i.la.la-heart-o
                a.pull-right(href='#')
                    - sqlDate = new Date(land.DateCreated)
                    - currentDate = new Date()
                    - currentDate.setHours(0,0,0,0)
                    - sqlDate.setHours(0,0,0,0)
                    - timeDiff = currentDate.getTime() - sqlDate.getTime()
                    - daysAgo = Math.floor(timeDiff/(24 * 60 * 60 * 1000))
                    i.la.la-calendar-check-o
                    |  #{daysAgo} Days Ago
            a.ext-link(href=`/land/${land.Slug}` title='')

block content
    section.banner
        .container
            .row
                .col-lg-12
                    .banner-content
                        h1 Discover best properties in one place
                    form.row.banner-search(action='#')
                        .form_field.addres
                            input.form-control(type='text' placeholder='Enter Address, City or State')
                        .form_field.tpmax
                            .form-group
                                .drop-menu
                                    .select
                                        span Any type
                                        i.fa.fa-angle-down
                                    input(type='hidden' name='gender')
                                    ul.dropeddown
                                        li For Sale
                                        li For Rent
                        .form_field.tpmax
                            .form-group
                                .drop-menu
                                    .select
                                        span Min Price
                                        i.fa.fa-angle-down
                                    input(type='hidden' name='gender')
                                    ul.dropeddown
                                        li 300$
                                        li 400$
                                        li 500$
                                        li 200$
                                        li 600$
                        .form_field.tpmax
                            .form-group
                                .drop-menu
                                    .select
                                        span Max Price
                                        i.fa.fa-angle-down
                                    input(type='hidden' name='gender')
                                    ul.dropeddown
                                        li 2000
                                        li 3000
                                        li 4000
                                        li 5000
                                        li 6000
                        .form_field.srch-btn
                            a.btn.btn-outline-primary(href='#')
                                i.la.la-search
                                span Search
    section.intro.section-padding
        .container
            .row
                .col-xl-6.col-lg-6.pl-0
                    .intro-content
                        h3 Homes around the world
                        p
                            | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
                        a.btn.btn-outline-primary.view-btn(href='#')
                            i.icon-arrow-right-circle
                            | View for rent
                .col-xl-6.col-lg-6.pr-0
                    .intro-img
                        img.img-fluid(src='/img/intro/1.jpg' alt='')
            .intro-thumb-row
                a.intro-thumb(href='#')
                    img(src='/img/intro/thumb1.jpg' alt='')
                    h6 Homes
                a.intro-thumb(href='#')
                    img(src='/img/intro/thumb2.jpg' alt='')
                    h6 Appartments
                a.intro-thumb(href='#')
                    img(src='/img/intro/thumb3.jpg' alt='')
                    h6 Garages
    section.popular-listing.section-padding
        .container
            .row.justify-content-center
                .col-xl-6
                    .section-heading
                        span Discover
                        h3 Popular Listing
            .row
                each land in lands
                    +landCard(land)
                //- .col-lg-4.col-md-6
                //-     .card
                //-         a(href='24_Property_Single.html' title='')
                //-             .img-block
                //-                 .overlay
                //-                 img.img-fluid(src='/img/listing/1.jpg' alt='')
                //-                 .rate-info
                //-                     h5 $550.000
                //-                     span For Rent
                //-         .card-body
                //-             a(href='24_Property_Single.html' title='')
                //-                 h3 Traditional Apartments
                //-                 p
                //-                     i.la.la-map-marker
                //-                     | 212 5th Ave, New York
                //-             ul
                //-                 li 3 Bathrooms
                //-                 li 2 Beds
                //-                 li Area 555 Sq Ft
                //-         .card-footer
                //-             a.pull-left(href='#')
                //-                 i.la.la-heart-o
                //-             a.pull-right(href='#')
                //-                 i.la.la-calendar-check-o
                //-                 |  25 Days Ago
                //-         a.ext-link(href='24_Property_Single.html' title='')
                //- .col-lg-4.col-md-6
                //-     .card
                //-         a(href='24_Property_Single.html' title='')
                //-             .img-block
                //-                 .overlay
                //-                 img.img-fluid(src='/img/listing/2.jpg' alt='')
                //-                 .rate-info
                //-                     h5 $550.000
                //-                     span For Rent
                //-         .card-body
                //-             a(href='24_Property_Single.html' title='')
                //-                 h3 Traditional Apartments
                //-                 p
                //-                     i.la.la-map-marker
                //-                     | 212 5th Ave, New York
                //-             ul
                //-                 li 3 Bathrooms
                //-                 li 2 Beds
                //-                 li Area 555 Sq Ft
                //-         .card-footer
                //-             a.pull-left(href='#')
                //-                 i.la.la-heart-o
                //-             a.pull-right(href='#')
                //-                 i.la.la-calendar-check-o
                //-                 |  25 Days Ago
                //-         a.ext-link(href='24_Property_Single.html' title='')
                //- .col-lg-4.col-md-6
                //-     .card
                //-         a(href='24_Property_Single.html' title='')
                //-             .img-block
                //-                 .overlay
                //-                 img.img-fluid(src='/img/listing/3.jpg' alt='')
                //-                 .rate-info
                //-                     h5 $550.000
                //-                     span For Rent
                //-         .card-body
                //-             a(href='24_Property_Single.html' title='')
                //-                 h3 Traditional Apartments
                //-                 p
                //-                     i.la.la-map-marker
                //-                     | 212 5th Ave, New York
                //-             ul
                //-                 li 3 Bathrooms
                //-                 li 2 Beds
                //-                 li Area 555 Sq Ft
                //-         .card-footer
                //-             a.pull-left(href='#')
                //-                 i.la.la-heart-o
                //-             a.pull-right(href='#')
                //-                 i.la.la-calendar-check-o
                //-                 |  25 Days Ago
                //-         a.ext-link(href='24_Property_Single.html' title='')
        .alert.alert-success(role='alert')
            strong Added to Favourites
            |  You can check your favourite items here 
            a.alert-link(href='#') Favourite Items
            | .
            a.close-alert(href='#' title='')
                i.la.la-close
    section.explore-feature.hp_s1.section-padding
        .container
            .row.justify-content-center
                .col-xl-6
                    .section-heading
                        span Explore Features
                        h3 Service You Need
            .row
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-home
                                h3 Perfect Tools
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.
                        // card end
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-cursor
                                h3 Search in Click
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.
                .col-xl-4.col-sm-6.col-md-6.col-lg-4
                    a(href='#' title='')
                        .card
                            .card-body
                                i.icon-lock
                                h3 User Control
                                p
                                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.

    section#map-container.fullwidth-home-map
        h3.vis-hid Visible Heading
        #map(data-map-zoom='9')
    a(href='#' title='')
        section.cta.section-padding
            .container
                .row
                    .col-xl-12
                        .cta-text
                            h2 Discover a home you&apos;ll love to stay
    section.bottom.section-padding
        .container
            .row
                .col-xl-4.col-sm-6.col-md-4
                    .bottom-logo
                        img.img-fluid(src='/img/logo.png' alt='')
                .col-xl-3.col-sm-6.col-md-3
                    .bottom-list
                        h3 Helpful Links
                        ul
                            li
                                a(href='18_Half_Map.html' title='') Half Map
                            li
                                a(href='#' title='') Register
                            li
                                a(href='#' title='') Pricing
                            li
                                a(href='#' title='') Add Listing
                    // bottom-list end
                .col-xl-5.col-sm-12.col-md-5.pl-0
                    .bottom-desc
                        h3 Aditional Information
                        p
                            | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
