extends base


block content

    section.property-single-pg
        .container
            .property-hd-sec
                .card
                    .card-body
                        a(href='#')
                            h3 #{land.LandName}
                            p
                                i.la.la-map-marker
                                | #{land.Location}
                        ul
                            li Area #{land.Size} Sq Ft
                    // card-body end
                    .rate-info
                        h5 &#x20A6;#{land.Price.toLocaleString()}
                        span= land.Allocated ? "Unvavailable":"Available"
                    // rate-info end
                    // card end
                    // -property-hd-sec end
            .property-single-page-content
                .row
                    .col-lg-8.pl-0.pr-0
                        .property-pg-left
                            .property-imgs
                                .property-main-img
                                    .property-img
                                        img(src=`/img/listing/${land.image}` alt='')
                                    // property-img end


                            .descp-text
                                h3 Description
                                p
                                    | #{land.Description}
                            // descp-text end
                            .details-info
                                h3 Detail
                                ul
                                    li
                                        h4 Size:
                                        span &nbsp;#{land.Size} Sq Ft

                                    li
                                        h4 Amenities:
                                        span &nbsp;#{land.hasElectricity ? "Electricity |" : ''} #{land.hasWater ? "Water" : ''}
                                    li
                                        h4 Topography:
                                        span &nbsp;#{land.Topography}
                                    li
                                        h4 Zoning Regulation:
                                        span &nbsp;#{land.ZoningReg}

                            // details-info end
                            .features-dv
                                h3 Features
                                form.form_field
                                    ul
                                        li.input-field
                                            input#c1(type='checkbox'  name='cc' checked=land.isFenced)
                                            label(for='c1')
                                                span
                                                small Fenced
                                        li.input-field
                                            input#c1(type='checkbox' name='cc' checked=land.isCleared)
                                            label(for='c1')
                                                span
                                                small Cleared
                                        li.input-field
                                            input#c1(type='checkbox' name='cc' checked=land.nearShops)
                                            label(for='c1')
                                                span
                                                small Shops
                                        li.input-field
                                            input#c2(type='checkbox' name='cc' checked=land.nearHospital)
                                            label(for='c2')
                                                span
                                                small Hospitals
                                        li.input-field
                                            input#c3(type='checkbox' name='cc' checked=land.nearSchool)
                                            label(for='c3')
                                                span
                                                small Schools

                                        li.input-field
                                            input#c5(type='checkbox' name='cc' checked='')
                                            label(for='c5')
                                                span
                                                small Market

                            // features-dv end

                            .map-dv
                                h3 Land Shape
                                svg#map(style="height:600px;" data-land-bounds=land.LandBoundaries)


                            .map-dv
                                h3 Location
                                #map-container.fullwidth-home-map
                                    #map(data-map-zoom='9')
                            // map-dv end
                            
                                                    
                                                            
                    .col-lg-4.pr-0
                        .sidebar.layout2
                            .widget.widget-form
                                h3.widget-title Contact Listing Agent
                                .contct-info
                                    img(src='/img/resources/user-img.png' alt='')
                                    .contct-nf
                                        h3 Tomas Wilkinson
                                        h4 Douglas and Eleman Agency
                                        span
                                            i.la.la-phone
                                            | +1 212-925-3797
                                - if(user)
                                    // contct-info end
                                    - if(!land.Allocated)
                                        .post-comment-sec
                                            form
                                                button.btn2(type='submit' data-land-id=land.Id data-last-changed=JSON.stringify(land.LastChanged)) Purchase
                                        // post-comment-sec end
                                        // widget-form end
                                    - else
                                        .post-comment-sec
                                            form
                                                button.btn2(type='submit' disabled=true) Land is Allocated
                                - else
                                    span Login to purchase a land

                            .widget.widget-posts
                                h3.widget-title Popular Listings
                                ul
                                    each land2 of popularLands
                                        li
                                            .wd-posts
                                                .ps-img
                                                    a(href=`/land/${land2.Slug}` title='')
                                                        img(src='/img/resources/p-img2.png' alt='')
                                                // ps-img end
                                                .ps-info
                                                    h3
                                                        a(href=`/land/${land2.Slug}` title='') #{land2.LandName}
                                                    strong &#x20A6;#{land2.Price.toLocaleString()}
                                                    span
                                                        i.la.la-map-marker
                                                        | #{land2.Location}
                                                // ps-info end
                                                // wd-posts end
                                    

                            // sidebar end
                            // property-single-page-content end
                            // property-single-pg end
                            a(href='#' title='')
    section.cta.section-padding
        .container
            .row
                .col-xl-12
                    .cta-text
                        h2 Discover a land you&apos;ll love to own
    section.bottom.section-padding
        .container
            .row
                .col-xl-4.col-sm-6.col-md-4
                    .bottom-logo
                        img.img-fluid(src='/img/logo.png' alt='')
                .col-xl-3.col-sm-6.col-md-3
                    .bottom-list
                        h3 Helpful Links
                        ul
                            li
                                a(href='18_Half_Map.html' title='') Half Map
                            li
                                a(href='#' title='') Register
                            li
                                a(href='#' title='') Pricing
                            li
                                a(href='#' title='') Add Listing
                    // bottom-list end
                .col-xl-5.col-sm-12.col-md-5.pl-0
                    .bottom-desc
                        h3 Aditional Information
                        p
                            | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.

block scripts
    //- If svg stops working kill this
    script(src='/js/jquery-3.3.1.min.js')
    
    script(src='/js/modernizr-3.6.0.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/html5lightbox.js')
    script(src='/js/lib/slick/slick.js')
    script(src='/js/scripts.js')
    script(src='/js/d3.min.js')
    script(src='/js/land-shape.js')
    
    script(src='/js/bundle.js')

    // Maps
    //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwc4veKudU0qjYrLrrQXacCkDkcy3AeQ')
    //- script(src='/js/map-cluster/infobox.min.js')
    //- script(src='/js/map-cluster/markerclusterer.js')
    //- script(src='/js/map-cluster/map2.js')