extends base

mixin landItem1(land)
    .col-lg-6.col-md-6
        .card
            a(href=`/land/${land.Slug}` title='')
                .img-block
                    .overlay
                    img.img-fluid(src=`/img/land/home/${land.image}` alt='')
                    .rate-info
                        h5 &#x20A6;#{land.Price.toLocaleString()}
                        span For Rent
            .card-body
                a(href='24_Property_Single.html' title='')
                    h3 #{land.LandName}
                    p
                        i.la.la-map-marker
                        | #{land.Location}
                ul

                    li Area #{land.Size} Sq Ft
            .card-footer
                a.pull-left(href='#')
                    i.la.la-heart-o
                a.pull-right(href='#')
                    - sqlDate = new Date(land.DateCreated)
                    - currentDate = new Date()
                    - currentDate.setHours(0,0,0,0)
                    - sqlDate.setHours(0,0,0,0)
                    - timeDiff = currentDate.getTime() - sqlDate.getTime()
                    - daysAgo = Math.floor(timeDiff/(24 * 60 * 60 * 1000))
                    i.la.la-calendar-check-o
                    |  #{daysAgo} Days Ago
            a.ext-link(href=`/land/${land.Slug}` title='')

mixin landItem2(land)
    .card
        a(href=`/land/${land.Slug}` title='')
            .img-block
                .overlay
                img.img-fluid(src=`/img/land/home/${land.image}` alt='')
                .rate-info
                    h5 &#x20A6;#{land.Price.toLocaleString()}
                    span= land.Allocated ? "Unvavailable":"Available"
        .card_bod_full
            .card-body
                a(href='24_Property_Single.html' title='')
                    h3 #{land.LandName}
                    p
                        i.la.la-map-marker
                        | #{land.Location}
                ul
                    li Area #{land.Size} Sq Ft
            .card-footer
                .crd-links
                    a.pull-left(href='#')
                        i.la.la-heart-o
                    a.plf(href='#')
                        - sqlDate = new Date(land.DateCreated)
                        - currentDate = new Date()
                        - currentDate.setHours(0,0,0,0)
                        - sqlDate.setHours(0,0,0,0)
                        - timeDiff = currentDate.getTime() - sqlDate.getTime()
                        - daysAgo = Math.floor(timeDiff/(24 * 60 * 60 * 1000))
                        i.la.la-calendar-check-o
                        |  #{daysAgo} Days Ago
                // crd-links end
                a.btn-default(href=`/land/${land.Slug}` title='') View Details
        // card_bod_full end
        a.ext-link(href=`/land/${land.Slug}` title='')
        // card end

block content
    section.pager-sec.bfr
        .container
            .pager-sec-details
                h3 Land List
                
            // pager-sec-details end
    section.listing-main-sec.section-padding2
        .container
            .listing-main-sec-details
                .row
                    .col-lg-8
                        .listing-directs
                            .list-head
                                
                                        
                                
                                .view-change
                                    ul#myTab.nav.nav-tabs(role='tablist')
                                        li.nav-item
                                            a#grid-tab1.nav-link(data-toggle='tab' href='#grid-view-tab1' role='tab' aria-controls='grid-view-tab1' aria-selected='true')
                                                i.la.la-th-large
                                        li.nav-item
                                            a#grid-tab2.nav-link.active(data-toggle='tab' href='#grid-view-tab2' role='tab' aria-controls='grid-view-tab2' aria-selected='true')
                                                i.la.la-th-list
                                // view-change end
                                // list-head end
                                #myTabContent.tab-content
                                    #grid-view-tab1.tab-pane.fade(role='tabpanel' aria-labelledby='grid-view-tab1')
                                        .list_products
                                            .row
                                                each land of lands
                                                    +landItem1(land)

                                        // list_products end
                                    #grid-view-tab2.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='grid-view-tab2')
                                        .list-products
                                            each land of lands
                                                +landItem2(land)
                                            
                                            // list-products end
                                            // tab-content end
                                            //- nav(aria-label='Page navigation example')
                                            //-     ul.pagination
                                            //-         li.page-item.active
                                            //-             a.page-link(href='#') 1
                                            //-         li.page-item
                                            //-             a.page-link(href='#') 2
                                            //-         li.page-item
                                            //-             a.page-link(href='#' aria-label='Next')
                                            //-                 span(aria-hidden='true')
                                            //-                     i.la.la-arrow-right
                                            //-                 span.sr-only Next
                                            // pagination end
                                            // listing-directs end
                    .col-lg-4
                        .sidebar.layout2
                            .widget.widget-posts
                                h3.widget-title Popular Posts
                                ul
                                    each land of popularLands
                                        li
                                            .wd-posts
                                                .ps-img
                                                    a(href=`/land/${land.Slug}` title='')
                                                        img(src=`/img/land/mini/${land.image}` alt='')
                                                // ps-img end
                                                .ps-info
                                                    h3
                                                        a(href=`/land/${land.Slug}` title='') #{land.LandName}
                                                    strong &#x20A6;#{land.Price.toLocaleString()}
                                                    span
                                                        i.la.la-map-marker
                                                        | #{land.Location}
                                                // ps-info end
                                                // wd-posts end
                                    
    section.cta.section-padding
        .container
            .row
                .col-xl-12
                    .cta-text
                        h2 Discover a home you&apos;ll love to stay
    
